
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body {
    background-image: url(img/background.jpg);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
}
nav ul li a {
    color: pink;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li ::after {
    content: "";
    width: 0;
    height: 3px;
    background: rgb(245, 242, 242);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

h1 { font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(104, 225, 241);
    text-align: center;
    margin-top: 20px;

}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(10, 39, 43);
    text-align: center;
    margin-top: 5px;

}

img { height: 120px;
       width: 150px;
}
